<div class="project">

    <div class="project-options">        
        <mat-form-field appearance="fill" color="secondary">
            <mat-label>Current Project</mat-label>
            <mat-select (selectionChange)="change($event)">
                <mat-option value="default">default</mat-option>
                <mat-option *ngFor="let project of projects | async" [value]="project.title">{{ project.title }}</mat-option>
            </mat-select>
        </mat-form-field>

        <h2>{{ currentProject }}</h2>

        <form class="project-form">
            <mat-form-field appearance="fill">
                <mat-label>New Project Name</mat-label>
                <input [(ngModel)]="projectName" matInput name="project">
            </mat-form-field>
        </form>
    </div>

    <div class="project-buttons">
        <div>
            <button color="warn" mat-flat-button (click)="deleteProject()">
                <mat-icon>delete</mat-icon>Delete Project
            </button>
        </div>
        <div>
            <button *ngIf="!newProjectRules()" mat-flat-button disabled>
                <mat-icon>add</mat-icon>Create Project
            </button>
            <button *ngIf="newProjectRules()" color="primary" mat-flat-button (click)="newProject()">
                <mat-icon>add</mat-icon>Create Project
            </button>
        </div>
    </div>
    
    <mat-divider></mat-divider>

    <app-task-list [project]="project"></app-task-list>
</div>