.welcome-msg {
    margin: auto;
    text-align: center;
    margin-top: 20px;
}

.tb-content {
    display: flex;
    align-items: center;
    width: 400px;
    justify-content: space-between;
}

.welcome {
    display: inline-flex;
    align-items: center;
}

.welcome img {
    margin-left: 10px;
}

.flex-spacer {
    flex: 1 1 auto;
}