<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-icon>local_fire_department</mat-icon>
    <span>KanbanFire</span>

    <span class="flex-spacer"></span>

    <div class="tb-content" *ngIf="auth.user$ | async as user; else login">
      <span class="welcome">
        <span class="text">Welcome back, {{ user.displayName.split(' ')[0] }}!</span>
        <img height="40px" [src]="user.photoURL"/>
      </span>
      <button mat-flat-button (click)="auth.signOut()">Sign Out</button>
    </div>

    <ng-template #login>
      <button mat-flat-button (click)="auth.googleSignin()">Login with Google</button>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>


<div class="content-wrapper">
  <div *ngIf="auth.user$ | async as user; else other">
    <app-projects [user]="user"></app-projects>
  </div>

  <ng-template #other>
    <div class="welcome-msg">
      <h1>Welcome to KanbanFire!</h1>
      <p>Please login to continue</p>
    </div>
  </ng-template>
</div>