mat-toolbar {
    margin-bottom: 20px;
}

mat-toolbar > span {
    margin-left: 10px;
}

.content-wrapper {
    max-width: 1400px;
    margin: auto;
}

.btn-wrapper {
    display: flex;
    margin: 20px;
}

.container-wrapper {
    display: flex;
    justify-content: space-around;
}

.container {
    width: 400px;
    margin: 0 15px 25px 15px;
}

.list {
    border: solid 1px #ccc;
    min-height: 60px;
    border-radius: 4px;
}

app-new-task {
    margin-bottom: 30px;
}

.empty-label {
    font-size: 2em;
    padding-top: 10px;
    text-align: center;
    opacity: 0.2;
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms;
}

@media only screen and (max-width: 700px) {
    .container-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .container {
        width: 90%;
    }
}